body {
    background-color: #0f0f0f;
    color: #e6e6e6;
}
h2 {
    font-family: Calibri;
}
font {
    font-family: Segoe UI;
}
span {
    font-family: Segoe UI;
}
ul {
    list-style-position: inside;
    font-family: Segoe UI;
}
.imageHover {
    width: 620px;
    height: 273px;
    opacity: 50%;
    transition: all 0.5s;
}
.imageHover:hover {
    width: 669px;
    height: 295px;
    opacity: 100%;
    transition: all 0.5s;
}